<html>
<body>
    <table
        style="background: #fff;">
        <tbody>
            <tr>
                <td></td>
                <td
                    style="padding: 30px;vertical-align: top;font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size: 14px;font-weight: normal;margin: 0;">
                    <table
                        style="background: #fff;border: 1px solid #e9e9e9;border-radius: 3px;border-spacing: 0;width: 100%;border-collapse: separate!important;box-sizing: border-box;">
                        <tbody>
                            <tr>
                                <td
                                    style="padding: 30px;vertical-align: top;font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size: 14px;font-weight: normal;margin: 0;">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p>Reset your {{.AppName}} password</p>
                                                    <p>We received a request to reset your {{.AppName}} account password.</p>
                                                    <p>Just select the button below in the next 24 hours and you’ll be redirected to our secure site from which you can set a new password.</p>
                                                    <table
                                                        style="margin-bottom: 15px;width: auto;    border-collapse: separate!important;border-spacing: 0;box-sizing: border-box;display: table;border-color: grey;font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size: 14px;font-weight: normal;">
                                                        <tbody
                                                            style="display: table-row-group;vertical-align: middle;border-color: inherit;border-collapse: separate!important;border-spacing: 0;text-indent: initial;">
                                                            <tr
                                                                style="display: table-row;vertical-align: inherit;border-color: inherit;">
                                                                <td
                                                                    style="background-color: #348eda;border-radius: 5px;text-align: center;vertical-align: top;margin: 0;">
                                                                    <a href="{{.LinkHash}}" target="_blank" data-saferedirecturl=""
                                                                        style="box-sizing: border-box;background-color: #348eda;border-color: #348eda;color: #fff;border: solid 1px #348eda;border-radius: 5px;display: inline-block;font-size: 14px;font-weight: bold;margin: 0;padding: 12px 25px;text-decoration: none;text-transform: capitalize;">Reset Password!</a>
                                                                </td>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p>If you didn’t request this, you can ignore this email. Your password won’t be changed until you create a new one.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>